/* Estilos generales */
header,
nav {
    padding: 1rem;
}

/* animacion del nav */
@keyframes nav {
    from {
        background-color: rgb(93, 135, 162);
    }

    to {
        background-color: rgba(93, 135, 162, 0.4); /* 50% de transparencia */
    }
}

.contenedor-menu {
    width: 90%;
    margin: auto;
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(93, 135, 162);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombras para destacar */
    animation: nav linear;
    animation-timeline: scroll();
    animation-range: 0 200px;
    animation-fill-mode: both;
}
@keyframes nav-a {
    from {
        background-color: #457B9D;}

    to {
        background-color: rgba(93, 135, 162, 0.5); /* 50% de transparencia */
    }
}
.contenedor-submenu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.contenedor-submenu a {
    display: inline-block;
    color: #F1FAEE;
    background-color: #457B9D;
    font-size: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    
    border-radius: 20px;
    transition: all 0.3s, transform 0.5s ease-in-out;
    animation: nav-a linear;
    animation-timeline: scroll();
    animation-range: 0 200px;
    animation-fill-mode: both;
}

.contenedor-submenu a:hover {
    background-color: #355A73;
    transform: scale(1.1);
}

.contenedor-menu .click {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    cursor: pointer;
}

.contenedor-menu .click span {
    height: 3px;
    background: #333;
    border-radius: 2px;
    transition: transform 0.6s ease;
}

/* .click span {
    background-color: red;
    width: 100%;
    height: 3px;
    
} */

/* Ocultar el menú por defecto en móviles */
.contenedor-submenu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

/* Versión móvil */
@media (max-width: 640px) {
    .contenedor-menu .click {
        display: flex;
    }

    .contenedor-submenu {
        width: 22%;
        display: flex;
        flex-direction: column;
        position: absolute;
        /* align-items: start; */
        background: rgba(37, 35, 35, 0.5);
        position: absolute;
        border-radius: 10px;
        top: 40px;
        left: -25rem;
        right: 0;
        padding: .5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* ocultar con transition */
        opacity: 0;
        /* transform: translateY(-10px); */
        pointer-events: none;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .contenedor-submenu a {
        display: inline-block;
        background-color: #457B9D;
        font-size: 1rem;
        padding: .3rem;
        transition:  transform 0.2s ease-in-out  background-color ;
        cursor: pointer;
    }
    .contenedor-submenu a:hover {
        background-color: #333;
        transform: scale(1.2);
    }

    /* transformamos los span a X */
    #togle:checked+.click span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    /* oculatamos la segunda linea */
    #togle:checked+.click span:nth-child(2) {
        opacity: 0;
    }

    #togle:checked+.click span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    

    /* Mostrar el menú cuando el checkbox está activo */
    #togle:checked~.contenedor-submenu {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    
    #togle:checked~.click span {
        background-color: red;
    }
}
@media (max-width: 572px){
    .contenedor-submenu{
        width:23%;
        left: -20rem;
        min-width: 100px;
    }
}
@media (max-width: 450px){
    .contenedor-submenu{
        width: 35%;
        left: -13rem;
        min-width: 100px;
    }
}