/* Estilos generales */


header,
nav {
    padding: 1rem 0;
}

/* animacion del nav */
@keyframes nav {
    from {
        /* background-color: black; */
        /* background-color: rgb(93, 135, 162) ; */
        /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8); */
    }

    to {
        background-color: rgba(0, 0, 0, 0);
        /* 50% de transparencia */
        /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0); */
    }
}

.contenedor-menu {
    width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: nav linear;
    animation-timeline: scroll();
    animation-range: 0 200px;
    animation-fill-mode: both;
}

.contenedor-menu span {
    width: 45px;
    margin-left: 0;
}

@keyframes nav-a {
    from {
        /* background-color: #457B9D; */
    }

    to {
        background-color: rgba(93, 135, 162, 0.7);
        /* 50% de transparencia */
    }
}

.contenedor-submenu {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contenedor-submenu a {
    display: inline-block;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s, transform 0.5s ease-in-out;
    animation: nav-a linear;
    animation-timeline: scroll();
    animation-range: 0 200px;
    animation-fill-mode: both;
    border-bottom: 1px solid wheat;
}

.contenedor-submenu a:hover {
    background-color: #29465a;
    transform: scale(1.1);
    color: aliceblue;
}

.contenedor-menu .click {
    display: none;
    flex-direction: column;
    gap: 7px;
    width: 30px;
    cursor: pointer;
    margin: auto;
}

.contenedor-menu .click span {
    height: 5px;
    background: white;
    border-radius: 2px;
    transition: transform 0.6s ease;
}

/* Ocultar el menú por defecto en móviles */
.contenedor-submenu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

/* Versión móvil */
@media (max-width: 640px) {
    .contenedor-menu .click {
        display: flex;
    }

    .contenedor-menu {
        border-bottom: 1px solid white;

    }

    .contenedor-submenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: start;
        background: rgba(37, 35, 35, 0.5);
        border-radius: 10px;
        top: 60px;
        left: -25rem;
        right: 0;
        padding: .5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* ocultar con transition */
        opacity: 0;
        /* transform: translateY(-10px); */
        pointer-events: none;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .contenedor-submenu a {
        width: 100%;
        display: inline-block;
        background-color: transparent !important;
        font-size: 1.2rem;
        transition: transform 0.2s ease-in-out background-color;
        cursor: pointer;
        color: black;
        border-radius: 0;
        border-bottom: 1px solid black;
    }

    .contenedor-submenu a:hover {
        background-color: #333;
        transform: scale(1.2);
    }

    /* transformamos los span a X */
    #togle:checked+.click span:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    /* oculatamos la segunda linea */
    #togle:checked+.click span:nth-child(2) {
        opacity: 0;
    }

    #togle:checked+.click span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }



    /* Mostrar el menú cuando el checkbox está activo */
    #togle:checked~.contenedor-submenu {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    #togle:checked~.click span {
        background-color: red;
    }
}

@media (max-width: 572px) {
    .contenedor-submenu {
        width: 23%;
        left: -20rem;
        min-width: 100px;
    }
}

@media (max-width: 450px) {

    .contenedor-submenu {
        width: 35%;
        left: -16rem;
        min-width: 100px;
        background-color: white;
        padding: 0;
    }

    .contenedor-submenu li {
        width: 100% !important;
    }
}