* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #A8DADC;
    padding: 1rem 0;

}

header {
    width: 90%;
    padding: 1rem;
    font-size: 2.4vw;
    text-align: center;
    background-color: #457B9D;
    margin: auto;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
}

header h1 {
    font-size: 4rem;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
}

header p {
    font-size: 3vw;
    color: #F1FAEE;
    padding: 0.5rem;
    background-color: #5D87A2;
}

nav {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #F1FAEE;
    background-color: #457B9D;
    font-size: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

nav a:hover {
    background-color: #355A73;
    transform: scale(1.1);
}

.yio {
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    text-align: center;
    background-color: #457B9D;
    color: #F1FAEE;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);

}

.yio h2 {
    font-size: 3vw;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 1);

}

.yio div {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.foto {
    width: 40%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
}

.yio img {
   width: 85vw;
   height: auto;
}

.yio p {
    background-color: #5D87A2;
    font-size: 2.5vw;
}


/*proyectos*/

.proyectos {
    width: 90%;
    margin: 1rem auto;
    text-align: center;

}

.h2 {
    width: 12rem;
    background-color: #F4D9E1;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.h2 h2 {
    text-align: center;
    color: #333;
    padding: 1rem;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 1) !important;
}

/*crud*/
.crud,
.poke,
.calendario,
.calculadora {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 1rem;
    border: #457B9D 2px solid;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
    background-color: #F4D9E1;

}

.crud p,
.poke p,
.calendario p,
.calculadora p {
    width: 80%;
    font-size: 1.5rem;
    background-color: #FDF2F5;
}
.crud div img,
.poke div img,
.calendario div img,
.calculadora div img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.crud a,
.poke a,
.calendario a,
.calculadora a {
    background-color: #F4D9E1;
    width: 6rem;
    margin: auto;
    display: block;
    text-decoration: none;
}

span {
    background-color: rgb(13, 88, 236);
    color: #F1FAEE;
    border-radius: 5px;
    /* Bordes redondeados */
    font-size: 1em;
    margin-left: 5px;
}

.contacto {
    width: 90%;
    margin: 1rem auto;
    padding: 0.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    font-size: 1.5rem;
    border: #457B9D 2px solid;
    background-color: #F4D9E1;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);

}

.contacto p {
    width: 30%;
    background-color: #FDF2F5;

}

.contacto ul {
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

footer {
    width: 90%;
    padding: 1rem;
    margin: auto;
    text-align: center;
    background-color: #457B9D;
    color: #F1FAEE;
}

@media (max-width:768px) {
    header {
        width: 90%;
        font-size: 2rem;
        padding: 0.7rem;
    }
    header h1{
        font-size: 6vw;
    }
    header p{
        font-size: 4vw;
    }
    nav {
        width: 95%;
        font-size: 3vw;
    }

    nav a {
        padding: 2vw;
    }

    .yio h2 {
        font-size: 4vw;
    }

    .yio div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    .foto {
        width: 40vw;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
    }
    
    .yio img {
       width: 40vw;
       height: auto;
       object-fit: cover;
    }
    .yio div p {
        font-size: 4vw;
    }


    .crud,
    .poke,
    .calendario,
    .calculadora {
        width: 100%;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }

    .crud a,
    .poke a,
    .calendario a,
    .calculadora a {
        display: block;
    }


    .crud div img,
    .poke div img,
    .calendario div img,
    .calculadora div img {
        width: 85vw;
        height: auto;

    }

    .crud p,
    .poke p,
    .calendario p,
    .calculadora p {
        padding: 0.2rem;
        font-size: 3vw;
    }

    .contacto {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
    }

    .contacto p {
        width: 100%;
        padding: 0.2rem;
        display: block;
    }

    footer {
        width: 90%;
    }
}

@media (max-width:480px) {
    header {
        font-size: 5vw;
        width: 90%;
        padding: 0.7rem;
    }
    header p{
        font-size: 5vw;
    }
    nav {
        width: 90%;

    }

    nav a {
        color: #F1FAEE;
        background-color: #457B9D;
        padding: 0.5rem;
        font-size: 3.5vw;

    }

    .yio {
        width: 90%;
        padding: 0.7rem;
    }

    .yio h2 {
        font-size: 6vw;
        text-shadow: 4px 4px 9px rgba(0, 0, 0, 1);

    }

    /* .yio div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    } */

    .foto {
        width: 40vw;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
    }
    
    .yio img {
       width: 40vw;
       height: auto;
       object-fit: cover;
    }

    .yio div p {
        font-size: 5vw;        text-align: center;
        padding: 0.2rem;

    }

    .crud,
    .poke,
    .calendario,
    .calculadora {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }

    .crud a,
    .poke a,
    .calendario a,
    .calculadora a {
        display: block;
    }



    .crud div img,
    .poke div img,
    .calendario div img,
    .calculadora div img {
        width: 85vw;
        height: auto;
        margin: auto;
    }

    .crud p,
    .poke p,
    .calendario p,
    .calculadora p {
        padding: 0.2rem;
        font-size: 4vw;
    }

    .contacto {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
    }

    .contacto p {
        width: 100%;
        padding: 0.2rem;
        display: block;
    }


}